
main {
    height: 100%;
    color: #323946;
}

.about {
    position: relative;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    display: flex;
    background-color: #020917;
    align-items: center;
    padding: 10px 10% 0;
    padding-top: 5%;
    padding-bottom: 5%;

}

.about-content {
    max-width: 600px;
}

.about-content h3 {
    font-size: 32px;
    font-weight: 700px;
    color: #0ef;
}

.about-content h3:nth-of-type(2) {
    margin-top: 10px;
    margin-bottom: 10px;
}

.about-content h3 span {
    color: #0ef;
}

.about-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    color: #0ef;

}
.about-content p {
    font-size: 20px;
    color:white;
    line-height:30px;
    margin-top: 3%;
}

.about-content li {
    line-height: 30px;
    font-size: 20px;
    margin-left: -25px;
    color: white;
}


.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;

}
@media screen and (max-width: 440px) {
    
    .about-content {
    max-width: 440px;
}
   .about {
    max-width: 440px;
}
.about h1{
    font-size: 35px;
}

}
.wrapper{
    margin-top: 15%;
}
.wrapper .tc{
  
    margin-bottom: 5%;
}
.tc h2{
    font-size: 24px; 
 }
 .tc h3{
    font-size: 24px;
 }
@media screen and (max-width: 600px)and (min-width: 440px) {
   
       .about-content {
    max-width: 600px;
}
.tc h2{
   font-size: 30px; 
}
}
@media screen and (max-width: 768px)and (min-width: 601px) {
    
       .about-content {
    max-width: 768px;
}
}
@media screen and (max-width: 992px)and (min-width: 769px) {
   
       .about-content {
    max-width: 992px;
}
}

@media screen and (max-width:1220x)and (min-width: 993px) {
    
       .about-content {
    max-width: 1220px;
}
}
